<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pic1</string>
	<string>http://img.zcool.cn/community/01f9ea56e282836ac72531cbe0233b.jpg@2o.jpg</string>
	<string>pic2</string>
	<string>pic3</string>
	<string>http://wx1.sinaimg.cn/large/bfc243a3gy1febm7orgqfj20i80ht15x.jpg</string>
</array>
</plist>
