<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pic1</string>
	<string>http://img.zcool.cn/community/01f9ea56e282836ac72531cbe0233b.jpg@2o.jpg</string>
	<string>pic2</string>
	<string>pic3</string>
	<string>http://wx1.sinaimg.cn/large/bfc243a3gy1febm7orgqfj20i80ht15x.jpg</string>
	<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1563770915839&amp;di=a9b54a179fc00451b314be86ae226838&amp;imgtype=0&amp;src=http%3A%2F%2Fattach.bbs.miui.com%2Fforum%2F201310%2F16%2F224046ups8zp1jg31uz82g.jpg</string>
	<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1563770915838&amp;di=bb2a293b1fbc6bfa532f44b427f8980b&amp;imgtype=0&amp;src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201705%2F04%2F20170504162326_BuEJV.jpeg</string>
	<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1563770915838&amp;di=6be59ed4e788e9ffcb1aaaeb569e2ad8&amp;imgtype=0&amp;src=http%3A%2F%2Fimg65.chem17.com%2F1%2F20170713%2F636355580997454706981.jpg</string>
</array>
</plist>
